<div class="login-color fifa-font">
  <div class="container-fluid mb-5">
    <div class="row mx-0 justify-content-center">
      <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 col-xxl-3">
        <img src="../../../assets/fantastudio-logo-black.png" alt="LogoFantaStudio" class="img-fluid px-5 my-5">
          <form #signin="ngForm" (ngSubmit)="onSubmit(signin)">
            <div class="mb-4">
              <h4>Inserisci il tuo indirizzo E-mail per richiedere il reset della tua password.</h4>
            </div>
            <div class="mb-3">
              <input type="email" class="form-control shadow-none" name="email" ngModel required email="email" placeholder="Indirizzo E-mail">
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary fs-5 green-button" [disabled]="!signin.valid">Reset Password</button>
            </div>
          </form>
          <div class="my-4 text-center">
            <p class="fs-5">{{messaggioConferma}}</p>
            <p class="fs-5 text-danger">{{messaggioErrore}}</p>
          </div>
          <div class="mt-5 fs-5 text-center">
            <a [routerLink]="['/sign-in']">Torna alla schermata di Login</a>
          </div>
      </div>
    </div>
  </div>
  </div>

  <router-outlet></router-outlet>
