<div class="login-color fifa-font">
  <div class="container-fluid mb-5">
    <div class="row mx-0 justify-content-center">
      <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 col-xxl-3">
        <img src="../../../assets/fantastudio-logo-black.png" alt="LogoFantaStudio" class="img-fluid px-5 my-5">
          <div class="my-4 text-center">
            <h3>Grazie per esserti iscritto!</h3>
            <h4>Ti abbiamo inviato una mail di conferma per convalidare il tuo account.</h4>
          </div>
          <div class="mt-3 fs-5 text-center">
            <a [routerLink]="['/sign-in']">Una volta confermata l'identità accedi al sito.</a>
          </div>
      </div>
    </div>
  </div>
  </div>

  <router-outlet></router-outlet>
