<!--Prima immagine-->
<div class="homepage-background nav-font">
  <div class="container text-center text-white padding-alto"  data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
  data-aos-duration="600">
    <h2 class="">VIVI LA TUA PASSIONE PER IL FANTACALCIO CON</h2>
    <img src="../../../assets/fantastudio-logo-white.png" alt="" class="img-fluid" width="700px">
    <h3 class="pt-4">Gestisci le tue aste del fantacalcio in tempo reale con FantaStudio. Interagisci con i tuoi amici e la community in un'esperienza di gioco coinvolgente e dinamica, disponibile su tutti i tuoi devices.</h3>
    <div>
      <button type="button" class="btn btn-info fs-6 px-5 py-3 mt-5 rounded-none">DOWNLOAD WINDOWS/OSX</button>
    </div>
    <div class="py-4">
      <img src="../../../assets/Daco_4108569 (1).png" alt="Stores" class="img-fluid" width="400px">
    </div>
  </div>
</div>

<!--Seconda immagine (carosello)-->
<div class="homepage-background2 nav-font">
  <div id="carouselExampleAutoplaying" class="carousel slide padding-mobile" data-bs-ride="carousel"  data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
  data-aos-duration="500">
    <div class="row mx-0">
    <div class="carousel-inner col-lg-8 col-12">
      <div class="carousel-item active">
        <div class="container">
        <div class="row mx-0 align-items-center">
          <div class="col-lg-6 col-12">
            <img src="../../../assets/mobile-dynamic-1.png" alt="Mobile1" class="img-fluid ms-2" width="600px">
          </div>
          <div class="col-lg-6 col-12 d-flex flex-column padding-testo-mobile">
            <div class="larghezza-massima-mobile">
            <span class="fs-1 mb-0 px-3 py-1 rounded titolo-mobile1 d-inline-block">CREA</span>
            <span class="fs-1 mb-0 ms-4 px-3 py-1 rounded titolo-mobile2 d-inline-block">LA TUA ASTA</span>
          </div>
          </div>
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="container">
        <div class="row mx-0 align-items-center">
          <div class="col-lg-6 col-12">
            <img src="../../../assets/mobile-dynamic-3.png" alt="Mobile1" class="img-fluid" width="600px">
          </div>
          <div class="col-lg-6 col-12 d-flex flex-column padding-testo-mobile">
            <div style="max-width: 300px;">
            <p class="fs-1 mb-0 px-3 py-1 rounded titolo-mobile1 d-inline-block">INVITA</p>
            <p class="fs-1 mb-0 ms-4 px-3 py-1 rounded titolo-mobile2 d-inline-block">I TUOI AMICI</p>
          </div>
          </div>
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="container">
        <div class="row mx-0 align-items-center">
          <div class="col-lg-6 col-12">
            <img src="../../../assets/mobile-dynamic-2.png" alt="Mobile1" class="img-fluid" width="600px">
          </div>
          <div class="col-lg-6 col-12 d-flex flex-column padding-testo-mobile">
            <div style="max-width: 400px;">
            <p class="fs-1 mb-0 px-3 py-1 rounded titolo-mobile1 d-inline-block">AGGIUDICATI I TUOI</p>
            <p class="fs-1 mb-0 ms-4 px-3 py-1 rounded titolo-mobile2 d-inline-block">TOP PLAYERS</p>
          </div>
          </div>
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="container">
        <div class="row mx-0 align-items-center">
          <div class="col-lg-6 col-12">
            <img src="../../../assets/mobile-dynamic-4.png" alt="Mobile1" class="img-fluid" width="600px">
          </div>
          <div class="col-lg-6 col-12 d-flex flex-column padding-testo-mobile">
            <div class="statitische-max-width">
            <p class="fs-1 mb-0 px-3 py-1 rounded titolo-mobile1 d-inline-block">STATISTICHE AGGIORNATE</p>
            </div>
            <div class="max-width: 600px;">
            <p class="fs-1 mb-0 ms-4 px-3 py-1 rounded titolo-mobile2 d-inline-block">IN TEMPO REALE</p>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev d-none d-lg-block" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <fa-icon [icon]="iconaFrecciaSinistra" class="fs-1 colore-freccia"></fa-icon>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next d-none d-lg-block" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <fa-icon [icon]="iconaFrecciaDestra" class="fs-1 colore-freccia"></fa-icon>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
</div>
</div>

<!--Terza immagine (aste)-->
<div class="homepage-background3 nav-font d-flex align-items-center">
  <div class="container padding-mobile-aste" data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
  data-aos-duration="500">
    <div class="row mx-0">
      <div class="col-lg-7"></div>
      <div class="col-lg-5">
        <p class="mb-0 grandezza-font-cards colore-titolo1">GESTISCI</p>
        <p class="mb-0 grandezza-font-cards colore-titolo2">LE TUE ASTE</p>
      </div>
      <div class="col-lg-7"></div>
      <div class="col-lg-5">
        <p class="mb-0 mt-3 fs-5 text-white">FantaStudio ti consente di organizzare e gestire facilmente le tue aste del fantacalcio in tempo reale, con funzioni avanzate per la personalizzazione e l'interazione con gli altri partecipanti, che tu sia in gruppo o da casa tua.</p>
      </div>
    </div>
  </div>
</div>

<!--Quarta immagine (cards)-->
<div class="homepage-background4 nav-font">
  <div class="container-fluid" data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
  data-aos-duration="700">
    <div class="text-center padding-mobile-cards-container">
      <img src="../../../assets/giocatori-sx.png" alt="" class="img-fluid" width="1200px">
    </div>
    <div class="row mx-0 padding-mobile-cards">
      <div class="col-12 col-md-3 col-xxl-4"></div>
      <div class="col-12 col-md-6 col-xxl-5">
        <p class="mb-0 grandezza-font-cards colore-titolo3">NUOVO SISTEMA</p>
        <p class="mb-0 grandezza-font-cards colore-titolo2">DI VALUTAZIONE</p>
      </div>
      <div class="col-12 col-md-3 col-xxl-3"></div>
      <div class="col-12 col-md-3 col-xxl-4"></div>
      <div class="col-12 col-md-6 col-xxl-5">
        <p class="mb-0 mt-3 fs-5">FantaStudio utilizza un sistema di valutazione innovativo basato sui calcoli delle prestazioni e delle fantamedie degli ultimi 3 anni dei calciatori. Ogni giocatore avrà una carta personalizzata con le sue statistiche e valutazioni, per aiutarti a prendere decisioni informate durante le aste del fantacalcio.</p>
      </div>
      <div class="col-12 col-md-3 col-xxl-3"></div>
    </div>
  </div>
</div>

<!--Footer-->
<div class="nav-font bg-dark">
  <div class="container-fluid text-white">
    <div class="row mx-0 py-4 text-center">
      <div class="col-12 col-lg-4 padding-footer">
        <a href="https://www.cobblestoneinteractive.com/" target="_blank" class="link-footer">Termini di servizio </a><span>/// </span>
        <a href="https://www.cobblestoneinteractive.com/" target="_blank" class="link-footer">Privacy Policy </a><span>/// </span>
        <a href="https://www.cobblestoneinteractive.com/" target="_blank" class="link-footer">Cookie Policy </a><span>/// </span>
        <a href="https://www.cobblestoneinteractive.com/" target="_blank" class="link-footer">Lavora con noi</a>
      </div>
      <div class="col-12 col-lg-4 padding-footer">
        <span>© 2023 Cobblestone Interactive. Tutti i diritti riservati.</span>
      </div>
      <div class="col-12 col-lg-4">
        <span class="d-none d-lg-inline">Seguici sui nostri social: </span>
        <a href="https://www.linkedin.com/company/cobblestone-interactive/" target="_blank"><fa-icon [icon]="iconaFacebook" class="fs-5 ps-2 link-footer"></fa-icon></a>
        <a href="https://www.linkedin.com/company/cobblestone-interactive/" target="_blank"><fa-icon [icon]="iconaInstagram" class="fs-5 ps-2 link-footer"></fa-icon></a>
        <a href="https://www.linkedin.com/company/cobblestone-interactive/" target="_blank"><fa-icon [icon]="iconaLinkedin" class="fs-5 ps-2 link-footer"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
