$bordi0: 0px;
$nienteDecorazioni: none;
$inlineDisplay: inline;
$margin100: 100px;
$coloreGiallino: rgb(186, 186, 49);
$coloreBluScuro: rgb(12, 9, 61);
$font: 'Solway', serif;
$vaiADestra: right;
$vaiASinistra: left;
$paddingBottone: 20px;
$formaBottone: 20px;
$distanzaBottone: 30px;